/* CSS Document */


.logo img{
    display: block;
    margin: auto;
    margin-top:4em
 }   

.logo-contact img {
    display: block;
    margin:auto;
    
}

.me-photo img {
    margin:auto;
    
}


.photography-images img{
    width: 48%;
    float: left;
    margin-bottom: .5em;
    margin-right: 1%;
    margin-left: 1%;
    
    
    
}

.menu ul {
    width: 100%;
    padding-top:2em;
    padding-bottom: 2.5em;
    background-color: grey;

    
    
}


.menu ul li {
    display: block;
    position: relative;
    float: left;
    font-size: .9em;
    font-family: sans-serif;
    color: white;
    width: 24%;
    text-align: center;
    
    
} 


.menu ul li a {
    text-decoration: none;
}

.menu ul li a:visited {
    color: white;
}


.about-me-text {
    width:80%;
    margin: auto;

}


.contact-buttons ul{
     width: 100%;
     margin-left: 2em;
     margin-top: 1.5em;

}

.contact-buttons ul li {
    display: block;
    position: relative;
    font-size: 1.5em;
    margin-bottom: 1.5em;
    line-height: 1em;
    
}


.contact-buttons ul li a{
    color: grey;
}

.contact-buttons ul li a:visited {
    color: grey;
    
}

.contact-buttons ul li a:hover {
    color: #83b5bb;
}

    

 h1 {font-family: sans-serif;
    font-size: 1.75em;
    color: #83b5bb;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;

}



p {
     margin-top: 1.5em;
    font-size: 1em;
}
    

